extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Enter google

        // register form
        form(method='POST' action='/auth/google')
          button.btn.btn-primary(type='submit') Sign up