.navbar {
  background-color: #ffffff !important;
}

.nav-link {
  color: black !important;
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
}

.signOut {
  background-color: #f3752b;
  color: white;
}

.signOut:hover {
  background-color: #e95703;
  color: white;
}
