.navbar {
  background-color: #FFFFFF !important;
}

.nav-link {
	color:black !important;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	padding: 0px 40px 0px 40px;
}

.mnavbar {
	box-shadow: 0px 1px 0px #9999;
}