.navbar {
	background-color: #ffffff !important;
}

.nav-link {
	color: black !important;
	font-family: "Libre Baskerville", serif;
	font-size: 20px;
	padding: 0px 40px 0px 40px;
}

.mnavbar {
	box-shadow: 0px 1px 0px #9999;
}

.text {
	font-family: "Libre Baskerville", serif;
}

.btnInput{
  background-color: #292b2c;
  border: #292b2c;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}