.mainHome {
	padding: 50px 0px 50px 0px;
	border-width: 2px;
	background: linear-gradient(45deg, rgba(237,237,237,0.71) 0%, rgba(254,215,102,0.63) 48%, rgba(254,215,102,0.54) 100%);
}

.text {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 26px;
	text-align: center;
}

.otherText {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	text-align: left;
}

.uText {
	text-decoration: underline !important;
	color:black !important;
}

.mHome {
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 160px 0px;
	border-width: 0px;
	background: linear-gradient(45deg, rgba(237,237,237,0.71) 0%, rgba(254,215,102,0.63) 48%, rgba(254,215,102,0.54) 100%);
}

.tinBlock {
	padding: 50px 0px 50px 0px;
}

.oText {
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
	text-align: left;
}

.biTitle {
	font-family: 'Libre Franklin', sans-serif;
	padding: 30px 0px 60px 0px;
	color:#F3752B;
}