.btnSignIn {
  background-color: #FED766;
  color: black;
  border: none;
  padding: 50px 10px 50px 10px;
  width: 100%;
  text-align: center;
}

.btnSignIn:hover {
  background-color: #FED766;
  color: black;
  border: none;
  padding: 0px;
  width: 100%;
  text-align: center;
} 

.title {
  font-family: 'Libre Baskerville', serif;
}

.text {
  font-family: 'Libre Baskerville', serif;
}