input[type=text], select {
  width: 100%;
  padding: 5px 5px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 5px 5px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 5px 5px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btnSignUp1 {
  background-color: #F3752B;
  color: black;
  border: 3px;
  padding: 10px 10px 100px 10px;
  width: 100%;
  text-align: center;
}

.btnSignUp2 {
  background-color: white;
  color: black;
  border: 3px;
  padding: 10px 10px 100px 10px;
  width: 100%;
  text-align: center;
}

.title {
  font-family: 'Libre Baskerville', serif;
}

.text {
  font-family: 'Libre Baskerville', serif;
}